<!DOCTYPE html>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
  <meta content="utf-8" http-equiv="encoding" />
  <title>Users manager</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles/style.css" />
  <link rel="stylesheet" href="styles/vue-material.css" />
  <script type="text/javascript" src="libs/vue.js"></script>
  <script type="text/javascript" src="libs/vue-material.js"></script>
  <script type="text/javascript" src="libs/axios.js"></script>
  <script type="text/javascript" src="src/users-service.js"></script>
</head>

<body>
  <div id="app">

    <div class="title">Proteins</div>

    <p style="text-align: center" v-if="proteins.length == 0">No proteins found.</p>

    <ul class="user-list" v-if="proteins.length > 0">
      <li>
        <div class="user-row-header">
          <div class="user-name">Name</div>
          <div class="user-city">Brand</div>
        </div>
      </li>

      <li v-for="protein in proteins">
        <div class="">
          <a :href="'details.html?id='+protein.id">{{ protein.name }}</a>
          <span class=""><i>{{ protein.brand }}</i></span>
          <button v-on:click="deleteProtein(protein.id)">Delete</button>
          <a :href="'update.html?id='+protein.id" target="_self">Update</a>
        </div>
      </li>
    </ul>
    <a :href="'add.html'">ADD A NEW PROTEIN</a>
  </div>
  <script src="src/app.js"></script>
</body>

</html>